<a (click)="showLapTimes()">Show times </a>
<span *ngIf="lapTimes">
    <h4>Lap times</h4>
<ol>
    <li>{{riderTimesData['1'] ? riderTimesData['1'] : 'NA'}}</li>
    <li>{{riderTimesData['2'] ? riderTimesData['2'] : 'NA'}}</li>
    <li>{{riderTimesData['3'] ? riderTimesData['3'] : 'NA'}}</li>
    <li>{{riderTimesData['4'] ? riderTimesData['4'] : 'NA'}}</li>
    <li>{{riderTimesData['5'] ? riderTimesData['5'] : 'NA'}}</li>
    <li>{{riderTimesData['6'] ? riderTimesData['6'] : 'NA'}}</li>
    <li>{{riderTimesData['7'] ? riderTimesData['7'] : 'NA'}}</li>
    <li>{{riderTimesData['8'] ? riderTimesData['8'] : 'NA'}}</li>
    <li>{{riderTimesData['9'] ? riderTimesData['9'] : 'NA'}}</li>
    <li>{{riderTimesData['10'] ? riderTimesData['10'] : 'NA'}}</li>
    <li>{{riderTimesData['11'] ? riderTimesData['11'] : 'NA'}}</li>
    <li>{{riderTimesData['12'] ? riderTimesData['12'] : 'NA'}}</li>
    <li>{{riderTimesData['13'] ? riderTimesData['13'] : 'NA'}}</li>
    <li>{{riderTimesData['14'] ? riderTimesData['14'] : 'NA'}}</li>
    <li>{{riderTimesData['15'] ? riderTimesData['15'] : 'NA'}}</li>
    <li>{{riderTimesData['16'] ? riderTimesData['16'] : 'NA'}}</li>
</ol>
</span>
